[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "themes/etch-custom"]
	path = themes/etch-custom
	url = https://github.com/ekboehm/etch-custom.git
